<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elangzhi.fish.dao.GradeMapper" >
  <resultMap id="BaseResultMap" type="com.elangzhi.fish.model.Grade" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="person_id" property="personId" jdbcType="BIGINT" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="game_id" property="gameId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, person_id, `number`, weight, game_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from grade
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from grade
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.elangzhi.fish.model.Grade" >
    insert into grade (id, person_id, `number`, 
      weight, game_id)
    values (#{id,jdbcType=BIGINT}, #{personId,jdbcType=BIGINT}, #{number,jdbcType=INTEGER}, 
      #{weight,jdbcType=DOUBLE}, #{gameId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.elangzhi.fish.model.Grade" >
    insert into grade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="personId != null" >
        person_id,
      </if>
      <if test="number != null" >
        `number`,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="personId != null" >
        #{personId,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elangzhi.fish.model.Grade" >
    update grade
    <set >
      <if test="personId != null" >
        person_id = #{personId,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        `number` = #{number,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="gameId != null" >
        game_id = #{gameId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elangzhi.fish.model.Grade" >
    update grade
    set person_id = #{personId,jdbcType=BIGINT},
      `number` = #{number,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DOUBLE},
      game_id = #{gameId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findByPGID" resultMap="BaseResultMap">
    select *
    from grade
    where 1=1
    <if test="gameId != null" >
     and game_id = #{gameId,jdbcType=BIGINT}
    </if>
    <if test="personId != null" >
     and person_id = #{personId,jdbcType=BIGINT}
    </if>

  </select>
</mapper>